@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    font-family: "Caprasimo", serif;
}

.hero .col img {
    width: 500px;
}

.hero .col p {
    width: 500px;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about .col img {
    width: 600px;
}

@media (max-width: 1024px) {
    #hero{
        padding-top: 50px;
    }
    .hero .col img {
        width: 300px;
    }
    .hero .col p {
        font-size: 14px;
        width: 300px;
    }

}

@media (max-width: 992px) {
    #hero{
        padding-top: 50px;
    }
    .hero .col img {
        width: 300px;
    }
    .hero .col p {
        width: 100%;
    }
    .about .col img {
        width: 400px;
    }
}

@media (min-width:1025px) and (max-width: 1199px) {
    #hero{
        padding-top: 50px;
    }
    .hero .col img {
        width: 400px;
    }
    .hero .col p {
        width: 100%;
    }
    
}
